@font-face {
  font-family: Lato;
  src: url("../src/assets/fonts/Lato-Regular.ttf");
}

@theme {
  --color-base: #ecfae5;
  --color-sidebar: #6a9e6f;
  --color-soft: #ddf6d2;
  --color-light: #cae8bd;
  --color-main: #b0db9c;
  --color-primary: #111827;
}

body {
  font-family: "Lato", sans-serif;
}

@import "tailwindcss";
